In [11]:
from teste_conta import	Conta

In [12]:
c1 = Conta('123-4',	'Jo√£o',	120.0,	1000.0)
c2 = c1
c2.saldo

inicializando uma conta

120.0

In [13]:
c1.deposita(100)
c1.saldo

220.0

In [14]:
c2.saldo

220.0

In [15]:
id(c1)

2424283015616

In [16]:
id(c2)

2424283015616

In [17]:
c1 == c2

True

In [18]:
c1	=	Conta("132-4",	"Python",	500.0,	1000.0)
c2	=	Conta("123-4",	"Python",	500.0,	1000.0)
c1	==	c2

inicializando uma conta
inicializando uma conta

False

In [19]:
c1.transfere(c2, 300)
c1.extrato()
c2.extrato()

numero: 132-4
saldo: 200.0
numero: 123-4
saldo: 800.0